#title{
    position: absolute;
    font-size: 70px;
    color: white;
    text-align: center;
    border: double;
    border-color: white;
    padding-top: 33%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: -32%;
    position: relative;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

h2{
    font-size: 35px;
    color: rgb(200,200,200);
    text-align: center;
    border-bottom: solid;
    border-color: rgb(200,200,200);
    border-width: 1px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1px;
    font-family: 'Oswald', sans-serif;
}

#kda{
    border: 0px;
    min-width: 100%;
}

html{
    scroll-behavior: smooth;
    background-color: rgb(30,30,28);
}

#tabheader{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 81px;
    max-width:100%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
}

a:hover{
    color:white;
}

#tabsocial{
    position: relative;
    z-index: 1;
    color: black;
    background-color: rgb(18,244,252);
    font-size: 50px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

#tabmembers{
    position: relative;
    z-index: 1;
    color: black;
    background-color: rgb(18,244,252);
    font-size: 50px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

#tabvoices{
    position: relative;
    z-index: 1;
    color: black;
    background-color: rgb(18,244,252);
    font-size: 50px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

#images{
    text-align: center;
}

#twitter{
    padding-bottom: 2px;
    margin-left: 9%;
    margin-right: 9%;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(18,244,252); 
}

#ig{
    padding-bottom: 2px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(18,244,252);
}

#tiktok{
    padding-bottom: 2px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(18,244,252);
}

a{
    color: rgb(30,30,28);
}

#platforms{
    font-size: 0;
    width: 500px;
    margin: 0 auto;
}

#spotify{
    padding-top: 2%;
    padding-right: 10%;
}

#applem{
    padding-top: 2%;
    padding-left: 10%;  
}

#ytm{
    padding-top: 10%;
    padding-right: 10%;   
}

#deezer{
    padding-top: 10%;
    padding-left: 10%;
}

h3{
    text-align: center;
    font-size: 35px;
    color: rgb(200,200,200);
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

#mv{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h4{
    color: black;
    font-size: 50px;
    border-bottom: solid black;
    font-family: 'Oswald', sans-serif;
}

#ahricontainer{
    display: flex;
    justify-content: center;
}

#ahri{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    border: 3px solid  rgb(200,200,200);
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 370px;
    width: 1196px;
    max-width: 100%;
    min-width: 1196px;
}


.ahri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    max-width: 100%;
    max-height: 100%;
}

#ahrikda{
    width: 600px;
    max-width: 100%;
    height: 370px;
    max-height: 100%;
}

#ahribio{
    font-size: 19px;
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-top: -24px;
}

#evelynncontainer{
    display: flex;
    justify-content: center;
}

#evelynn{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    border: 3px solid  rgb(200,200,200);
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 370px;
    width: 1196px;
    max-width: 100%;
    min-width: 1196px;
}

.evelynn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    max-width: 100%;
    max-height: 100%;
}

#evelynnkda{
    width: 600px;
    max-width: 100%;
    height: 370px;
    max-height: 100%;
}

#evelynnbio{
    font-size: 19px;
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-top: -20px;
}

#akalicontainer{
    display: flex;
    justify-content: center;
}

#akali{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    border: 3px solid  rgb(200,200,200);
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 370px;
    width: 1196px;
    max-width: 100%;
    min-width: 1196px;
}

.akali{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    max-width: 100%;
    max-height: 100%;
}

#akalikda{
    width: 600px;
    max-width: 100%;
    height: 370px;
    max-height: 100%;
}

#akalibio{
    font-size: 19px;
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-top: -30px;
}

#kaisacontainer{
    display: flex;
    justify-content: center;
}

#kaisa{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    border: 3px solid  rgb(200,200,200);
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 370px;
    width: 1196px;
    max-width: 100%;
    min-width: 1196px;
}

.kaisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    max-width: 100%;
    max-height: 100%;
}

#kaisakda{
    width: 600px;
    max-width: 100%;
    height: 370px;
    max-height: 100%;
}

#kaisabio{
    font-size: 19px;
    color: black;
    font-family: 'Oswald', sans-serif;
    margin-top: -23px;
}